# Ignorar o ambiente virtual
/venv/

# Ignorar arquivos de logs
/logs/

# Ignorar arquivos temporários do sistema
*.log
*.pyc
*.pyo
.pytest_cache/

# Ignorar arquivos de variáveis de ambiente
.env

# Ignorar arquivos de configuração da IDE
.vscode/
.idea/

# Ignorar arquivos de configuração do sistema
.DS_Store
